.flex_containerNav {
  display: flex;
  background-color: rgb(171, 249, 255);
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-left: 250px;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
}

._content {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  border-radius: 15px;
  width: 60px;
  text-align: center;
}
