.serverContent{
    margin:170px 40px 20px 230px;
  }

  .metricsContent{
    margin:170px 40px 20px 230px;
  }

  .logsContent{
    margin:170px 40px 20px 230px;
  }

  .metricTable{
    margin-right:500px;
  }

  .formContent{
    margin:200px 30px 10px 300px;
  }