/* .content{
     height: 100%; 
     margin: 110px 2px 2px 150px; 
     display: flex; 
     position:inherit;
     flex-direction:column; 
  } */
  .appContent{
    margin:110px 30px 10px 230px;
  }

  /* overview box */
  .overView-nav{
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.212);
  }


  /* apps table */
.apps-table{
    margin-right: 50px;
    margin-top: 30px;
}


/* add apps form */
.formContent{
    margin:130px 30px 10px 240px;
  }